* {box-sizing: border-box;}
h1{
    color: rgb(48, 165, 211);
    font-size: 300%;
}
p{
    color: rgb(48, 69, 77);
    font-size: 130%;
}
a{
    color: rgb(48, 113, 211);
    font-size: 120%;
}

.contenedor{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid rgb(48, 165, 211);
    border-radius: 8px;
}

.sobre-mi{
    background-color: rgb(48, 165, 211, 0.1);
    padding: 15px;
    border-radius: 8px;
}

.header{
    background-color: rgba(48, 165, 211, 0.1);
    padding: 20px;
    text-align: center;
}

.proyectos{
    background-color: rgb(48, 165, 211, 0.1);
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}